# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json

src/environments/*
#keep dummy environment file
!src/environments/environment.ts.dummy

/www/*
##keep files added by ionic start command
!/www/lib/


$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
