<ion-card>

  <ion-card-header>
    <span class="header-text" left>
      <button class="header-button" [disabled]="!isAMember" ion-button icon-only (click)="toggleShowGroup()">
        <ion-icon name="{{headerIcon}}"></ion-icon>
      </button>
      {{groupName}}
    </span>
  </ion-card-header>

  <ion-card-content [ngStyle]="{'height' : contentHeight+'px' }" padding>
    <span *ngIf="!active">
      <p>{{group.description}}</p>
      <ion-item-divider></ion-item-divider>
      <ion-row>
        <ion-col class="requirements-text-col" left col-4>
          <span>REQUIREMENTS</span>
        </ion-col>
        <ion-col class="icon-col" col-1 *ngFor="let req of groupRequirements$ | async">
          <ion-icon icon-only name="{{req.icon}}" [ngClass]="{'req-not-met': !req.isComplete, 'req-met': req.isComplete}"></ion-icon>
        </ion-col>
        <ion-col text-right *ngIf="!isAMember">
          <button class="group-button" ion-button [disabled]="!allRequirementsMet || hasApplied" (click)="joinGroup()" >
            <span *ngIf="noConfirm">Join</span>
            <span *ngIf="!noConfirm && !hasApplied">Apply</span>
            <span *ngIf="hasApplied">Pending</span>
          </button>
        </ion-col>
      </ion-row>
    </span>
    <span *ngIf="active">
      <ion-list>
          <h2>Members</h2>
        <ion-item>
          <div *ngFor="let member of members" class="profileItem" (click)="selectMember(member)">
            <img class="profile-item" src="{{member.profilePicURL}}">
          </div>
        </ion-item>
          <h2>Trade</h2>
        <ion-item>
          <ion-segment [(ngModel)]="view" color="primary">
            <ion-segment-button class="offer-segment-button" value="offers" (ionSelect)="selectedOffers()">
              Offers
            </ion-segment-button>
            <ion-segment-button class="offer-segment-button" value="wants" (ionSelect)="selectedWants()">
              Wants
            </ion-segment-button>
          </ion-segment>
          <span *ngIf="!offerSelected">
            <div *ngIf="view == 'offers'" class="item row">
              <div *ngFor="let offer of groupOffers" class="profileItem" (click)="selectOffer(offer)">
                <img class="profile-item" src="{{offer.picURL}}">
              </div>
            </div>
            <div *ngIf="view == 'wants'" class="item row">
              <div *ngFor="let want of groupWants" class="profileItem">
                <img class="profile-item" src="{{member.profilePicURL}}">
              </div>
            </div>
          </span>
        </ion-item>
        <ion-item *ngIf="offerSelected">
          <ion-row class="offer-detail-row">
            <ion-col>
              <img [src]="offerSelected.picURL">
            </ion-col>
            <ion-col>
              <h2>{{offerSelected.title}}</h2>
              <p>{{offerSelected.description}}</p>
            </ion-col>
          </ion-row>
          <hr>
          <span class="buy-offer-button">
            <span>
              Purchase {{offerSelected?.title}} for {{offerSelected?.price}} Circles?
            </span>
            <button ion-button color="danger" (click)="offerSelected = null">
              CANCEL
            </button>
            <!-- disable if the user is the seller, can't buy your own stuff! -->
            <button [disabled]="offerSelected.seller == user.$key" ion-button (click)="buyOffer()">
              BUY
            </button>
          </span>
        </ion-item>
      </ion-list>
    </span>
  </ion-card-content>
</ion-card>
